.stuff-item
	.header
		display: flex
		justify-content: space-between
		align-items: center

	h1
		margin-bottom: 1.5rem

	.info

		&__img
			min-width: 350px
			min-height: 350px
			border: 1px solid  #ccc
			margin-bottom: 1.5rem

		&__description
			margin-bottom: 0.7rem
