<div class="stuff-item">
	<div class="header">
		<h1>Stuff Item Title</h1>

		<button routerLink="/" class="btn btn-link">На главную</button>
	</div>

	<div class="info">
		<img src="#" alt="" class="info__img">
		<p class="info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iste non inventore aliquid exercitationem tempora similique numquam sint nihil eum iure repudiandae nisi cumque, quibusdam ullam blanditiis et odio fugit.</p>
		<button class="btn btn-dark">Add To Card</button>
	</div>
</div>