<nav class="navbar bg-primary main-layout__navbar" (click)="click()">
	<h1>
		<a routerLink="/">Angular Shop</a>
	</h1>

	<div class="main-layout__btn-panel">
		<ul>
			<!-- <li><a [routerLink]="['/']">Главная</a></li> -->
			<!-- <li><a [routerLink]="['']"></a></li> -->
		</ul>

		<ul>
			<li><a [routerLink]="['/profile']" [ngClass]="{hide: !auth.getIsAuth()}">Profile</a></li>
		</ul>

    <ul>
      <app-multilevel-menu></app-multilevel-menu>
    </ul>


		<ul>
			<li><button class="btn btn-dark" [ngClass]="{hide: auth.getIsAuth()}" [routerLink]="['/login']">Authorization</button></li>
			<li><button class="btn btn-dark" [ngClass]="{hide: !auth.getIsAuth()}" (click)="auth.logout()" [routerLink]="['/']">Logout</button></li>
		</ul>

		<ul>
			<li>
				<a [routerLink]="['/store']">Card {{ getStuffNumber() }}</a>
			</li>
		</ul>


	</div>

</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>
