<div class="store" (click)="getStuff()">
	<h1>Store</h1>
	<!-- <app-store-item></app-store-item> -->
	
	<!-- Stuff Item -->
	<div *ngFor="let item of stuff" class="card">
		<div class="card-header">
			<h2>{{ item.name }}</h2>
		</div>

		<div class="description">
			<p>{{ item.description }}</p>
		</div>

		<div>
			<img src="" alt="" class="card-img">
			<button class="btn btn-dark">Add To Store</button>
			<button 
				class="btn btn-dark"
				[routerLink]="['/stuff-item', item.id]"
				>Go To Stuff</button>
		</div>
	</div>

</div>